{%load static%}

<html>
    <head>
        <title>Your to-do list</title>
        <link rel="stylesheet" href="{%static 'style.css'%}" type="text/css"/> 
    </head>
    <script>
      function showTab(tabIndex) {
        var allTasks = document.getElementById("all");
        var activeTasks = document.getElementById("active");
        var completedTasks = document.getElementById("done");
    
        if (tabIndex === 1) {
            allTasks.style.display = "block";
            activeTasks.style.display = "none";
            completedTasks.style.display = "none";
        } else if (tabIndex === 2) {
            allTasks.style.display = "none";
            activeTasks.style.display = "block";
            completedTasks.style.display = "none";
        } else if (tabIndex === 3) {
            allTasks.style.display = "none";
            activeTasks.style.display = "none";
            completedTasks.style.display = "block";
        }
    }  

    
    


    function initialize() {
      // Show the 'All' tab by default on page load
      showTab(1);
    }
    window.onload = initialize;
    </script>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
  
          <div class="card">
            <div class="card-body">
  
              <form class="d-flex justify-content-center align-items-center mb-4" id="form2" method="POST" action="new-task" enctype="multipart/form-data">
                <div class="form-outline flex-fill">
                    {% csrf_token %}
                    <input type="text" name="task" id="form" class="form-control"placeholder="New task..."/>
                    <button type="submit" class="btn btn-info ms-2"/>Add</button>
                </div>
              </form>

              <!-- Tabs navs -->
              <ul class="nav nav-tabs" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
                    aria-controls="ex1-tabs-1" aria-selected="true" onclick="showTab(1)">All</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
                    aria-controls="ex1-tabs-2" aria-selected="false" onclick="showTab(2)">Active</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab"
                    aria-controls="ex1-tabs-3" aria-selected="false" onclick="showTab(3)">Completed</a>
                </li>
              </ul>
              <!-- Tabs navs -->
  
              <!-- Tabs content -->
              <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                  aria-labelledby="ex1-tab-1">
                  <ul class="list-group" id="all">
                    {% for task in all_tasks%}
                    {%if task.done == True%}
                      <li class="list-group-item"
                        style="background-color: #f4f6f7;">
                      <form method="POST" action="make_done">
                        {% csrf_token %}
                        <input class="task_id" name="task_id" type="hidden" value="{{task.id}}">
                        <input class="checkbox" type="checkbox" value="" aria-label="..." checked onclick="this.form.submit()"/>
                      </form>
                        <s>{{task.name}}</s>
                        <form method="POST" action="delete_task">
                          {% csrf_token %}
                          <input class="task_id" name="task_id" type="hidden" value="{{task.id}}">
                          <button class="destroy-btn" onclick="this.form.submit()">DELETE</button>
                        </form>
                      </li>
                    {%else%}
                        <li class="list-group-item"
                          style="background-color: #f4f6f7;">
                          <form method="POST" action="make_done">
                            {% csrf_token %}
                          <input class="task_id" type="hidden" name="task_id" value="{{task.id}}">
                          <input class="checkbox" type="checkbox" value="" aria-label="..." onclick="this.form.submit()"/>
                        </form>
                          <p>{{task.name}}</p>
                          <form method="POST" action="delete_task">
                            {% csrf_token %}
                          <input class="task_id" name="task_id" type="hidden" value="{{task.id}}">
                          <button class="destroy-btn" onclick="this.form.submit()">DELETE</button>
                        </form>
                        </li>
                    {%endif%}
                    {% endfor %}
                  </ul>
                </div>
                <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                  <ul class="list-group" id="active">
                    {% for task in all_tasks%}
                    {%if task.done == False%}
                        <li class="list-group-item"
                          style="background-color: #f4f6f7;">
                          <form method="POST" action="make_done">
                            {% csrf_token %}
                          <input class="task_id" name="task_id" type="hidden" value="{{task.id}}">
                          <input class="checkbox" type="checkbox" value="" aria-label="..." onclick="this.form.submit()"/>
                        </form>
                          <p>{{task.name}}</p>
                          <form method="POST" action="delete_task">
                            {% csrf_token %}
                          <input class="task_id" name="task_id" type="hidden" value="{{task.id}}">
                          <button class="destroy-btn" onclick="this.form.submit()">DELETE</button>
                        </form>
                        </li>
                    {%endif%}
                    {% endfor %}
                  </ul>
                </div>
                <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                  <ul class="list-group" id="done">
                    {% for task in all_tasks%}
                    {%if task.done == True%}
                        <li class="list-group-item"
                          style="background-color: #f4f6f7;">
                          <form method="POST" action="make_done">
                            {% csrf_token %}
                          <input class="task_id" name="task_id" type="hidden" value="{{task.id}}">
                          <input class="checkbox" type="checkbox" value="" aria-label="..." checked onclick="this.form.submit()"/>
                        </form>
                          <s>{{task.name}}</s>
                          <form method="POST" action="delete_task">
                            {% csrf_token %}
                          <input class="task_id" name="task_id" type="hidden" value="{{task.id}}">
                          <button class="destroy-btn" onclick="this.form.submit()">DELETE</button>
                        </form>
                        </li>
                    {%endif%}
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <!-- Tabs content -->
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
</html>