/* Reset default margin and padding */
body,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: contents;
}
/* Custom styling for the gradient background */
.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
  linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
  linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
  radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
  radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  height: 200%;
}


/* Custom styles for the card */
.card {
    background-color: #FFFFFF;
    border-radius: 10px;
}

/* Custom styles for the form and button */
.form-outline {
    text-align: center;
    position: relative;
    top: 20px;
    margin-bottom: 40px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 20px;
    padding: 15px;
    width: 80%;
    font-size: 20px;
}

.btn-info {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  border-radius: 20px;
  cursor: pointer;
  size: 200px;
}

.btn-info:hover{
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
  linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
  linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
  radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
  radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

/* Custom styles for the list items and checkboxes */
.list-group-item{
  background-color: #f4f6f7;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.list-group-item input[type="checkbox"] {
  margin-right: 10px;
}

.list-group-item s {
  color: #999;
  text-size-adjust:inherit;
}
/* Custom styles for the tabs */
.nav-tabs li {
    margin-bottom: 40px;
}

.nav-tabs{
  border-bottom: none;
}

.nav-link {
    color: #333;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.nav-link.active {
    color: #fff;
    background-color: #3498db;
}

/* Responsive styles for the container */
.container {

  margin-left: 80px;
  margin-right: 80px;
  position: relative;
  top: 80px;
  max-width: 1200px;
  padding: 0 20px;
}

/* Responsive styles for the content */
.card-body {
    text-align: center;
}

@media (max-width: 768px) {
    .form-outline {
        width: 100%;
    }
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.destroy-btn {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.destroy-btn:hover {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
  linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
  linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
  radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
  radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

/* Adjustments for the checkbox */
.checkbox {
  margin-right: 10px;
}


.nav-item {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: inline-block;
}

/* Style the buttons inside the tab */
.nav-link{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.nav-link:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.nav-link.active {
  background-color: #ccc;
}
